.education-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.education-wrapper {
  padding-top: 15px;
  border-bottom: 2px solid #25dac5;
  padding-bottom: 20px;
}

.education-main {
  width: 80%;
  margin: 0 auto;
}

.education-wrapper h4 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.education-wrapper h6 {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0px;
  font-family: Arial, sans-serif;
}

.education-wrapper p {
  margin: 0;
}

.addEducation {
  width: 20%;
  margin-top: 10px;
  font-style: normal;
  font-size: 9px;
  line-height: 15px;
  border-radius: 100px;
  border: 2px solid #ebeaed;
  padding: 5px;
  background-color: #25dac5;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.deleteEducation {
  width: 20%;
  margin-top: 10px;
  font-style: normal;
  font-size: 9px;
  line-height: 15px;
  border-radius: 100px;
  border: 2px solid #ebeaed;
  padding: 5px;
  background-color: #25dac5;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.deleteEducation:hover {
  background-color: tomato;
}

.skills {
  list-style: none; /* Remove default bullet points */
  padding: 0;
}

.skills li {
  position: relative; /* Position relative to handle span positioning */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills-span {
  margin-left: 10px; /* Add small space between text and buttons */
  color: white; /* Style for links */
  background-color: #25dac5;
  border-radius: 5px;
  padding: 5px;
}

.skills li:hover .action-icons {
  display: inline-block;
}

input {
  width: 100%;
}

.languages-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.languages {
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

.languages li {
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  transition: background-color 0.3s ease;
  list-style-position: inside;
  text-align: center;
  margin-top: 7px;
}

.languages li span {
  display: block;
}

.languages li .action-icons {
  display: none;
}

.languages li:hover .action-icons {
  display: inline-block;
}
